@charset "UTF-8";
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:Questrial, sans-serif;
	font-size:100%;
}

/*VARIÁVEIS*/
:root{
	--azul:#1C94D6;
}


.header{
	width:100%;
	display:block;
}

/*TOP BAR*/
.top_bar{
	width:100%;
	display:block;
	background-color:#fff;
	border-bottom:.5px solid #eee;
}
.container{
	width:75%;
	margin:auto;
	padding:8px;
}
.top_bar .container ul{
	list-style:none;
	display:flex;
	justify-content:flex-end;
	flex-wrap:wrap;
}
.top_bar .container ul li a{
	display:block;
	padding:5px 20px;
	font-size:.9rem;
	font-weight:bold;
	text-decoration:none;
	color:var(--azul);
	transition:.3s;
}
.top_bar .container ul li a:hover{
	color:#999;
}

/*MENU BAR*/
.menu_bar{display:block;}
.menu_bar .container{
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
}

.menu_bar .container figure{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	cursor:pointer;
}

.menu_bar .container figure img{width:85px;}

.menu_bar .container figure figcaption{
	text-transform:capitalize;
	font-size:1.8rem;
	color:var(--azul);
}
.menu_bar .container nav ul{
	list-style:none;
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex-wrap:wrap;
}
.menu_bar .container nav ul li a{
	display:block;
	padding:5px 20px;
	text-transform:capitalize;
	color:#888;
	font-size:1.1rem;
	font-weight:bold;
	text-decoration:none;
}
.menu_bar .container nav ul li:last-child a{
	text-transform:uppercase;
}
.menu_bar .container nav ul li a:hover{
	color:var(--azul);
}
/*BANER*/
.baner{
	width:100%;
	display:block;
	padding:100px 0px;
	background-color:var(--azul);
}

.baner .container h1,.baner .container h2,.baner .container a{
	display:block;
}
.baner .container h1{
	font-size:3.5rem;
	color:#fff;
	text-align:center;
	font-weight:normal;
}
.baner .container h2{
	font-size:1.5rem;
	color:#fff;
	text-align:center;
	font-weight:normal;
	margin-top:10px;
}
.baner .container a{
	width:13%;
	margin: 20px auto auto auto;
	text-decoration:none;
	color:#FFF;
	font-size:1rem;
	background-image:linear-gradient(-10deg,#fff,var(--azul),#eee);
	text-align:center;
	padding:10px;
	border-radius:100px;
	font-weight:bold;
	transition:.3s;
}
.baner .container a:hover{
	background-image:linear-gradient(10deg,#fff,var(--azul),#eee);
}